@import "tailwindcss";

@theme {
  --color-midnight: #030303;
  --color-gray: #414141;
  --color-oranging: #c32727;
  --color-offwhite: #fdfdfd;
  --color-white-bg: #fafafa;
  --color-secondary-gray: #8d8d8d;
  --font-mabry: "Mabry Pro", "sans-serif";
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/mabry-pro/MabryPro-Bold.eot");
  src: local("Mabry Pro Bold"), local("MabryPro-Bold"),
    url("/fonts/mabry-pro/MabryPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mabry-pro/MabryPro-Bold.woff2") format("woff2"),
    url("/fonts/mabry-pro/MabryPro-Bold.woff") format("woff"),
    url("/fonts/mabry-pro/MabryPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/mabry-pro/MabryPro-Medium.eot");
  src: local("Mabry Pro Medium"), local("MabryPro-Medium"),
    url("/fonts/mabry-pro/MabryPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mabry-pro/MabryPro-Medium.woff2") format("woff2"),
    url("/fonts/mabry-pro/MabryPro-Medium.woff") format("woff"),
    url("/fonts/mabry-pro/MabryPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/mabry-pro/MabryPro-Black.eot");
  src: local("Mabry Pro Black"), local("MabryPro-Black"),
    url("/fonts/mabry-pro/MabryPro-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mabry-pro/MabryPro-Black.woff2") format("woff2"),
    url("/fonts/mabry-pro/MabryPro-Black.woff") format("woff"),
    url("/fonts/mabry-pro/MabryPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/mabry-pro/MabryPro-LightItalic.eot");
  src: local("Mabry Pro Light Italic"), local("MabryPro-LightItalic"),
    url("/fonts/mabry-pro/MabryPro-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/mabry-pro/MabryPro-LightItalic.woff2") format("woff2"),
    url("/fonts/mabry-pro/MabryPro-LightItalic.woff") format("woff"),
    url("/fonts/mabry-pro/MabryPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/mabry-pro/MabryPro-BoldItalic.eot");
  src: local("Mabry Pro Bold Italic"), local("MabryPro-BoldItalic"),
    url("/fonts/mabry-pro/MabryPro-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mabry-pro/MabryPro-BoldItalic.woff2") format("woff2"),
    url("/fonts/mabry-pro/MabryPro-BoldItalic.woff") format("woff"),
    url("/fonts/mabry-pro/MabryPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/mabry-pro/MabryPro-Light.eot");
  src: local("Mabry Pro Light"), local("MabryPro-Light"),
    url("/fonts/mabry-pro/MabryPro-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mabry-pro/MabryPro-Light.woff2") format("woff2"),
    url("/fonts/mabry-pro/MabryPro-Light.woff") format("woff"),
    url("/fonts/mabry-pro/MabryPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/mabry-pro/MabryPro-BlackItalic.eot");
  src: local("Mabry Pro Black Italic"), local("MabryPro-BlackItalic"),
    url("/fonts/mabry-pro/MabryPro-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/mabry-pro/MabryPro-BlackItalic.woff2") format("woff2"),
    url("/fonts/mabry-pro/MabryPro-BlackItalic.woff") format("woff"),
    url("/fonts/mabry-pro/MabryPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/mabry-pro/MabryPro-MediumItalic.eot");
  src: local("Mabry Pro Medium Italic"), local("MabryPro-MediumItalic"),
    url("/fonts/mabry-pro/MabryPro-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/mabry-pro/MabryPro-MediumItalic.woff2") format("woff2"),
    url("/fonts/mabry-pro/MabryPro-MediumItalic.woff") format("woff"),
    url("/fonts/mabry-pro/MabryPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/mabry-pro/MabryPro-Italic.eot");
  src: local("Mabry Pro Italic"), local("MabryPro-Italic"),
    url("/fonts/mabry-pro/MabryPro-Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mabry-pro/MabryPro-Italic.woff2") format("woff2"),
    url("/fonts/mabry-pro/MabryPro-Italic.woff") format("woff"),
    url("/fonts/mabry-pro/MabryPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/mabry-pro/MabryPro-Regular.eot");
  src: local("Mabry Pro"), local("MabryPro-Regular"),
    url("/fonts/mabry-pro/MabryPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mabry-pro/MabryPro-Regular.woff2") format("woff2"),
    url("/fonts/mabry-pro/MabryPro-Regular.woff") format("woff"),
    url("/fonts/mabry-pro/MabryPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
