---
import Diamond from "../ui/icons/diamond.astro";
---

<header>
<nav>
<ul class="flex items-center justify-between">
    <li>
        <p class="flex font-medium font-mabry gap-2 items-center">
            <Diamond/>
            CREDITS
        </p>
    </li>
    <li>
        <div>
            <div>
                <h1>T.O</h1>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <p class="flex font-medium font-mabry gap-2 items-center">
            <Diamond/>
            REACH OUT
        </p>
    </li>
</ul>
</nav>
</header>