---
import Footer from "../components/Footer/Footer.tsx";
import Header from "../components/Header/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Tunde Onokoya - Chess in slums</title>
	</head>
	<body>
	 <main>
		<Header/>
		 <slot />
		<Footer client:visible />
	 </main>
	</body>
</html>


